html {
  height: -webkit-fill-available;
}

body {
  font-family: poppins;
  background: #e5e5e5;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

label {
  color: #16161a;
}

h2 {
  color: #16161a;
  font-size: 26px;
  font-weight: bold;
}

.wrapper{
  display: flex;
  height: 100vh;
  max-height: 100vh;
} 


/* Login Section */

.btn-default {
  color: white;
}

.btn-query {
  margin-top: 50px;
  margin-left: 20px;
}

.btn-login {
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}

.login-container {
  background-color: #fffffe;
  margin-top: 150px;
  border-radius: 15px;
  padding: 20px 20px 25px 20px;
  align-items: center;
}

.form-default {
  margin-top: 15px;
}
/* End of Login */


/* Navbar */

/* .sidebar-nav{
  background-color: #333;
  z-index: 1000;
  width: 240px;
}

a.navbar-brand{
  color: white;
}

a.nav-link{
  color: white;
}

a.nav-link:hover{
  background-color: #6246ea;
  color: white;
} */

/* End of Navbar */

/* Hero Section */

/* .hero{
  background-color: #6246ea;
} 
*/