body{
    font-family: poppins;
}

label{
    color: white;
}

h2{
    color: white;
}

.btn-default{
    background-color: slateblue;
    color: white;
}

.btn-query{
    margin-top: 50px;
    margin-left: 20px;
}

.btn-login{
    margin-top: 20px;
}

.login-container{
    background-color: #16161a;
    margin-top: 100px;
    /* border: 1px solid; */
    border-radius: 15px;
    padding-bottom: 25px;
}

.form-default{
    margin-top: 20px;
}
